html {
  background: #1e1f22;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  overflow: hidden;
}

.chat-container {
  width: 18.75rem;
  padding: 0.625rem;
  border-radius: 1rem;
  background: #313338;
}

#chat-messages {
  height: 12.5rem;
  overflow-y: scroll;
}

#chat-messages::-webkit-scrollbar {
  display: none;
}

.message {
  color: #bfc2c5;
  padding: 0.375rem;
  border-radius: 0.5rem;
  transition: 0.2s;
  margin-bottom: 5px;
  position: relative;
}

p {
  margin: 0;
  width: 16rem;
  overflow: hidden;
  position: absolute;
}

.message:hover {
  background: #2e3035;
}

.message:hover .delete-button {
  opacity: 1;
}

.delete-button {
  color: #bfc2c5;
  cursor: pointer;
  margin-left: 16.5rem;
  position: relative;
  transition: 0.5s;
  opacity: 0;
}

.delete-button:hover {
  color: white;
}

#message-input {
  width: 17.5rem;
  padding: 0.625rem;
  background: #383a40;
  border-radius: 0.625rem;
  border: none;
  outline: none;
  color: #bfc2c5;
  font-weight: 500;
  font-size: 0.938rem;
}

#send-button {
  font-size: 1.125rem;
  cursor: pointer;
  color: #bfc2c5;
  position: absolute;
  margin-left: -1.875rem;
  margin-top: 0.625rem;
}

#send-button:hover {
  color: white;
}